/* Reset some default styles */
body,
h1,
h2,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 20px; /* Added margin to the body */
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 1em;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#downloadCSV {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px; /* Added margin to the download button */
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#downloadCSV:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

caption {
  font-size: 1.2em;
  margin-bottom: 10px;
}

thead {
  background-color: #007bff;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.spinner-row {
  display: none;
}

.centered-cell {
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.web-tools-link {
  margin-top: 20px;
}

.web-tools-link a {
  color: #007bff;
  text-decoration: none;
}

.web-tools-link a:hover {
  text-decoration: underline;
}
