/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Center the container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

/* Style form groups for input fields and button */
.form-group {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="url"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style the spinner container */
.spinner-container {
  display: none;
  margin: 20px 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style the crawling complete message */
#crawlingCompleteMessage {
  color: #28a745;
  font-weight: bold;
  font-size: 18px;
  display: none;
  margin: 20px 0;
}

/* Style the table and table header */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
  cursor: pointer;
}

th.sorted::after {
  content: "\25b2"; /* Unicode character for an upward arrow */
  float: right;
}

/* Style table rows and cells */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

td,
th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style the download CSV button */
.table-controls button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.table-controls button:hover {
  background-color: #0056b3;
}
