/* crawler.css */
#loadingSpinner {
    display: none;
}

#urlTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#urlTable th, #urlTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#urlTable th {
    cursor: pointer;
}

#urlTable th.sorted {
    background-color: lightgray;
}
